.header {
  float: left;
  background-color: #070C46;
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
}

.header img {
  float: left;
}


@media screen and (max-width: 500px){
  .header {
    background-color: black;

}
